<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>管理员页面</title>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
</head>
<body>
<div style="width: 500px;height: 2px;margin: 8px 800px">
    <div class="input-group">
        <label for="query"></label><input type="text" class="form-control input-lg" id="query" placeholder="请输入领养人或儿童身份证号"/>
        <span class="input-group-addon btn btn-primary" id="btn2">搜索</span>
    </div>
</div>
<div style="width: 750px;height: 500px;float: left;display: inline">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <form class="form-horizontal" method="post">
                    <!-- 表单区域-->
                    <fieldset>
                        <!--表单主题-->
                        <legend style="width: auto;font-size: xx-large;font-weight: bolder;">儿童领养登记</legend>
                        <!-- 每一个form-group都可以自定义布局-->
                        <div class="form-group">
                            <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                            <label class="col-md-2 control-label" for="p_id">领养人身份证号</label>
                            <div class="col-md-4">
                                <input class="form-control" placeholder="请输入领养人身份证号" id="p_id" type="text"
                                       oninput="value=value.replace(/[^\d]/g,'')" maxlength=18
                                       style="font-size: medium"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                            <label class="col-md-2 control-label" for="c_id">领养儿童身份证号</label>
                            <div class="col-md-4">
                                <input class="form-control" placeholder="请输入领养儿童身份证号" id="c_id" type="text"
                                       oninput="value=value.replace(/[^\d]/g,'')" maxlength=18
                                       style="font-size: medium"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="status">领养申请审核状态</label>
                            <div class="col-md-2">
                                <select id="status" class="form-control">
                                    <option value="成功提交">成功提交</option>
                                    <option value="正在审核">正在审核</option>
                                    <option value="领养成功">领养成功</option>
                                    <option value="申请失败">申请失败</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2">
                                <input id="btn1" class="btn btn-primary" style="width: 55px" value="提交"/>
                                <input class="btn btn-warning" type="reset" value="重置"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="width: 500px;height: 470px;float: left;display: inline;background: rgba(20,20,20,0.2);margin: 50px;border: #5e5e5e solid;border-radius:8px">
    <div style="white-space: pre-line;margin: 10px 20px;font-size: medium" id="search_result"></div>
</div>
</body>
</html>

<script>
    $("#btn1").click(function () {
        let p_id = $('#p_id').val();
        let c_id = $('#c_id').val();
        let status = $('#status').val();
        let data = {
            data1: JSON.stringify({
                'p_id': p_id,
                'c_id': c_id,
                'status': status
            }),
        }
        $.ajax({
            url: '/ajax_governor_submit',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function (res) {
                alert(res['pro']);
            },
            error: function () {
                alert("请求失败");
            }
        })
    })

    $("#btn2").click(function () {
        let query = $('#query').val();
        let data = {
            data2: JSON.stringify({
                'query': query,
            }),
        }
        $.ajax({
            url: '/ajax_governor_search',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function (res) {
                //alert(res)
                let search_result = document.getElementById('search_result');
                if (res["p_id"] === "0") {
                    search_result.innerText = "没有相关信息";
                } else {
                    search_result.innerText = "身份证号：" + res["p_id"] + "\n" + "姓名：" + res["name"] + "\n" + "性别：" + res["gender"]
                        + "\n" + "出生日期：" + res["date"] + "\n" + "民族：" + res["nation"] + "\n" + "学历：" + res["education_degree"]
                        + "\n" + "有无子女：" + res["children"] + "\n" + "有无犯罪记录：" + res["crime"] + "\n" + "现居城市：" + res["current_province"]
                        + res["current_city"] + "\n" + "信用等级（满级为5）：" + res["credit_level"] + "\n" + "资产等级：" + res["fortune"] + "\n"
                        + "健康情况：" + res["health_level"] + "\n" + "审核状态：" + res["audit_status"] + "\n" + "联系方式：" + res["phone_number"]
                        + "\n" + "被领养儿童身份证号：" + res["adopted_children_id"];
                }
            },
            error: function () {
                alert("请求失败")
            }
        })
    })
</script>