<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid">
    <div>
        <div id="main" style="width: 615px;height:570px;float:left;"></div>
        <div id="main2" style="width: 615px;height:570px;float:left;"></div>
    </div>
</div>
</body>
</html>