<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../static/js/jquery-3.5.1.js"></script>
</head>
<body>
<label for="username"></label><input type="text" name="username" id="username">
<label for="password"></label><input type="password" name="password" id="password">
<button id="btn">点击</button>
<script>
    $("#btn").click(function () {
        let username = $('#username').val();
        let password = $('#password').val();
        let data = {
            data: JSON.stringify({
                'username': username,
                'password': password
            }),
        }
        $.ajax({
            url: '/ajax',
            type: 'post',
            data: data,
            dataType: 'json',
            success: function (res) {
                console.log(res)
            },
            error: function () {
                alert("发送ajax请求失败")
            }
        })
    })
</script>
</body>
</html>