<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
    <!--设置页面的宽度随着使用者的设备变化二变化 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <form class="form-horizontal" method="post">
                <!-- 表单区域-->
                <fieldset>
                    <!--表单主题-->
                    <legend style="width: auto;font-size: xx-large;font-weight: bolder;">儿童领养登记</legend>
                    <!-- 每一个form-group都可以自定义布局-->
                    <div class="form-group">
                        <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                        <label class="col-md-2 control-label" for="mid">领养人身份证号</label>
                        <div class="col-md-4">
                            <input class="form-control" id="p_id" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                        <label class="col-md-2 control-label" for="mid">领养儿童身份证号</label>
                        <div class="col-md-4">
                            <input class="form-control" id="c_id" type="text"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="city">领养申请审核状态</label>
                        <div class="col-md-2">
                            <select id="status" class="form-control">
                                <option value="成功提交">成功提交</option>
                                <option value="正在审核">正在审核</option>
                                <option value="领养成功">领养成功</option>
                                <option value="申请失败">申请失败</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <input id="btn1" class="btn btn-primary" type="submit" value="提交"/>
                            <input class="btn btn-warning" type="reset" value="重置"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div>
    <input type="text" class="form-control input-lg" style="width: auto">
    <span class="input-group-addon btn btn-primary" style="width: 10px;float: left">搜索</span>
</div>
</body>
</html>