<!doctype html>
<html class="no-js" lang="en" >
<head>
<meta charset="utf-8">
<title>纯CSS3制作红色下拉导航菜单代码</title>
 <link rel="stylesheet" href="../static/css/nav_menu3.css" type="text/css" media="all" />

</head>
<body> 

<div class="nav_menu3">
	<ul>
		<li class='nav-has-sub' id="li_1"><a href="/inquiry">庄严禅院</a>
			<ul>
				<li><a href='#'>缘起</a></li>
				<li><a href='#'>寺院建设过程</a></li>
				<li><a href='#'>远景</a></li>
				<li><a href='#'>功德榜芳名</a></li>
				<li><a href='#'>出入账明细表</a></li>
			</ul>
		</li>
		<li class='nav-has-sub'><a href='#'>智觉流通</a>
		  <ul>
			<li><a href='#'>各类经书</a></li>
			<li><a href='#'>戒律</a></li>
			<li><a href='#'>藏</a></li>
			 <li class='nav-has-sub'><a href='#'>论</a>
				<ul>
				   <li><a href='#'>问答</a></li>
				   <li><a href='#'>解惑</a></li>
				</ul>
			 </li>
		  </ul>
	   </li>
	   <li class='nav-has-sub'><a href='#'>中国传统文化</a>
			<ul>
				<li><a href='#'>中医</a></li>
				<li><a href='#'>礼仪</a></li>
				<li><a href='#'>黄帝内经</a></li>
				<li><a href='#'>咨询</a></li>
				<li><a href='#'>免费养老</a></li>
			</ul>
		</li>
	   <li class='nav-has-sub'><a href='#'>世界历学</a>
			<ul>
				<li><a href='#'>世界各地文化</a></li>
			</ul>
		</li>
	   <li class='nav-has-sub'><a href='#'>人类交流</a>
			<ul>
				<li><a href='#'>企业管理</a></li>
				<li><a href='#'>商业模式咨询</a></li>
				<li><a href='#'>科技咨询</a></li>
			</ul>
		</li>
		<li class='nav-has-sub'><a href='#'>游戏人间</a>
		  <ul>
			<li><a href='#'>佛教电影/电视</a></li>
			 <li class='nav-has-sub'><a href='#'>游戏</a>
				<ul>
				   <li><a href='#'>共建极乐</a></li>
				   <li><a href='#'>各种游戏</a></li>
				   <li><a href='#'>猜迷语/猜字</a></li>
				</ul>
			 </li>
		  </ul>
	   </li>
	   <li class='nav-has-sub'><a href='#'>人间杂会</a>
			<ul>
				<li><a href='#'>八卦</a></li>
				<li><a href='#'>新闻</a></li>
				<li><a href='#'>社会</a></li>
				<li><a href='#'>易经</a></li>
				<li><a href='#'>小说/故事</a></li>
			</ul>
		</li>
	   <li class='nav-has-sub'><a href='#'>智力学习</a>
			<ul>
				<li><a href='#'>小学</a></li>
				<li><a href='#'>初中</a></li>
				<li><a href='#'>高中</a></li>
			</ul>
		</li>
	</ul>
</div>

</body>
</html>